@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap");
.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-left {
  text-align: left;
  padding-left: 10rem;
}

.tituloMedio {
  color: rgb(48, 114, 95);
  font-size: 3rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tituloPrincipal {
  font-family: "Anton", sans-serif;
  color: rgb(48, 114, 95);
  font-size: 5rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
@media (max-width: 1024px) {
  .tituloPrincipal {
    font-size: 4rem;
    padding-top: 0;
  }
}
@media (max-width: 480px) {
  .tituloPrincipal {
    font-size: 3rem;
  }
}

.tituloSecundario {
  font-family: "Source Code Pro", sans-serif;
  color: rgb(0, 20, 38);
  font-size: 4rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .tituloSecundario {
    font-size: 3rem;
  }
}

.tituloHeaders {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .tituloHeaders {
    font-size: 3rem;
  }
}
@media (max-width: 380px) {
  .tituloHeaders {
    padding-left: 0;
  }
}

.subTituloHeaders {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 380px) {
  .subTituloHeaders {
    font-size: 1.5rem;
    padding-left: 0;
  }
}

.exito {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 8rem;
  background-color: transparent;
  text-shadow: 3px 0 30px rgba(48, 114, 95, 0.7);
  -webkit-text-stroke: 2px rgba(0, 20, 38, 0.7);
}
@media (max-width: 1024px) {
  .exito {
    font-size: 5rem;
  }
}

.parrafoPrincipal {
  width: 80%;
  height: auto;
  padding: 0 auto;
  text-align: justify;
  margin: 0 auto;
  overflow: auto;
  color: rgb(191, 171, 147);
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
}

.parrafoSecundario {
  width: 80%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: rgb(165, 44, 54);
  font-weight: 300;
  list-style: none;
}

.logoSize {
  width: 8rem;
  height: 8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

nav {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  font-weight: 300;
  display: flex;
  padding-right: 5rem;
}
nav ul li {
  padding-right: 2rem;
}
nav ul li a {
  color: white;
  text-decoration: overline;
  text-decoration-color: rgb(48, 114, 95);
}
nav ul li a:hover {
  font-weight: 400;
  color: rgb(71, 60, 60);
  text-decoration: 5px overline;
  text-decoration-color: rgb(48, 114, 95);
}
@media (max-width: 1024px) {
  nav {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
}

.logoPosition {
  transform: translate(-15%);
}

.press {
  font-weight: 400;
  color: rgb(48, 114, 95);
  text-decoration: 5px overline;
  text-decoration-color: rgb(48, 114, 95);
}

.navbar-toggler svg {
  fill: rgb(165, 44, 54);
  width: 3rem;
  height: 3rem;
}

.offcanvas-body li {
  font-size: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.offcanvas-header h5 {
  font-size: 3rem;
  font-weight: 400;
  color: rgb(165, 44, 54);
  padding-left: 2rem;
}

.close {
  fill: rgb(165, 44, 54);
  width: 3rem;
  height: 3rem;
  border: none;
  padding-right: 5rem;
}

.maquina {
  margin: auto;
  display: table;
}
.maquina h1 {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: rgb(181, 192, 202);
  position: relative;
}
.maquina h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background: rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  animation: writer 4s infinite steps(29);
}
@keyframes writer {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

.fondoPrincipal {
  background-image: linear-gradient(rgba(0, 20, 38, 0.9), rgba(0, 20, 38, 0.9)), url(../img/main_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.bordeBajo {
  border-bottom: 2px solid rgb(165, 44, 54);
}

.bg-green {
  background-color: rgba(48, 114, 95, 0.7);
}

.bg-red {
  background-color: rgb(165, 44, 54);
}

.espacioParrafos {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.botoRedes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .botoRedes {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.icon {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
  border-radius: 50%;
  transition: all 0.8s;
}
.icon:hover {
  background-color: #e60073;
  box-shadow: 0 0 20px #e60073;
}
.icon:hover:nth-child(2) {
  background-color: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}
.icon:hover:nth-child(3) {
  background-color: #25d366;
  box-shadow: 0 0 20px #25d366;
}
.icon:hover:nth-child(4) {
  background-color: #1da1f2;
  box-shadow: 0 0 20px #1da1f2;
}
.icon i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}
@media (max-width: 480px) {
  .icon i {
    transform: translate(-45%, -45%);
  }
}
.icon:hover circle {
  stroke-dasharray: 220;
}
.icon svg {
  width: 10rem;
  height: auto;
}
@media (max-width: 480px) {
  .icon {
    margin: 0 1.5rem;
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 380px) {
  .icon {
    margin: 0 1rem;
  }
}

svg circle {
  stroke-dasharray: 80;
  transition: all 0.8s ease-in-out;
}

.pie {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4.5rem 10rem;
}
@media (max-width: 768px) {
  .pie {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .pie {
    padding: 4.5rem 1rem;
  }
}

@media (max-width: 768px) {
  footer h5 {
    padding-top: 2rem;
  }
}
.firma {
  color: white;
  display: flex;
  align-items: center;
}

header article {
  padding-left: 5rem;
  padding-top: 2rem;
}

.slider {
  width: 100%;
  margin: auto;
  height: 30vh;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 15s infinite alternate linear;
}
.slider ul li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .slider {
    height: 20vh;
  }
}
@media (max-width: 768px) {
  .slider {
    height: 18vh;
  }
}
@media (max-width: 480px) {
  .slider {
    height: 11vh;
  }
}
@media (max-width: 380px) {
  .slider {
    height: 9vh;
  }
}
@media (max-width: 280px) {
  .slider {
    height: 6vh;
  }
}

#boton {
  font-size: 1.5rem;
  color: rgb(48, 114, 95);
  border-color: rgb(165, 44, 54);
}
#boton:hover {
  background-color: rgb(191, 171, 147);
  border-style: solid;
  border-color: rgb(48, 114, 95);
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
main li {
  color: rgb(191, 171, 147);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.5rem;
  list-style: none;
}

#estilos svg {
  fill: rgb(165, 44, 54);
  width: 2.5rem;
  height: 2.5rem;
  transform: translate(-50%, -10%);
}

.fondoPared {
  background-image: linear-gradient(rgba(1, 21, 38, 0.9), rgba(1, 21, 38, 0.9)), url(../img/pared.jpg);
  background-attachment: none;
  background-size: cover;
}

.fondoServicios {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/bgservices.jpg);
  background-attachment: none;
  background-size: cover;
  height: 30vh;
}
@media (max-width: 768px) {
  .fondoServicios {
    height: 20vh;
  }
}

.row article {
  margin: 2rem auto;
  background-color: rgba(0, 20, 38, 0.7);
  color: rgb(191, 171, 147);
  border-radius: 5px;
}
.row svg {
  fill: rgb(165, 44, 54);
  width: 8rem;
  height: auto;
  padding-top: 1rem;
}

.subCard, .textCard {
  color: rgb(48, 114, 95);
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  margin: auto;
}

.textCard {
  font-size: 1.5rem;
  color: rgb(191, 171, 147);
}

.cajasNosotros {
  display: grid;
  justify-content: center;
  margin: auto;
  width: 85%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding-top: 5rem;
  padding-bottom: 4rem;
}
@media (max-width: 1024px) {
  .cajasNosotros {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.miCard {
  font-size: 2rem;
  font-weight: 400;
  background-color: rgba(48, 114, 95, 0.7);
  margin-right: 0.5rem;
  padding: 2px;
  border-radius: 10px;
}
.miCard:hover {
  font-size: 2.2rem;
  color: rgb(191, 171, 147);
}
.miCard img {
  border-radius: 10px;
}

#estiloNos {
  padding-bottom: 3rem;
}
#estiloNos h2 {
  font-size: 3rem;
  padding-top: 3rem;
}
#estiloNos b {
  color: rgb(48, 114, 95);
}

.imgSize {
  width: 30rem;
  height: auto;
}

.headerClientes {
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/clientes.jpg);
  background-attachment: none;
  background-size: cover;
  height: 30vh;
}
@media (max-width: 768px) {
  .headerClientes {
    height: 20vh;
  }
}

#miCarousel {
  padding-top: 2rem;
}

.carousel-item {
  background: transparent;
  color: rgb(191, 171, 147);
  position: relative;
  background-position: center;
  background-size: cover;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 2rem;
}
.container h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: monospace, sans-serif;
  color: whitesmoke;
}
@media (max-width: 768px) {
  .container h2 {
    font-size: 2rem;
  }
}
@media (max-width: 380px) {
  .container h2 {
    font-size: 1.8rem;
  }
}
.container p {
  color: whitesmoke;
  font-weight: 300;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .container p {
    font-size: 1.5rem;
  }
}
@media (max-width: 380px) {
  .container p {
    font-size: 1.2rem;
  }
}

.opacidad {
  opacity: 0.8;
}

.gridContainer {
  display: grid;
  justify-content: center;
  margin: auto;
  width: 85%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
}
.gridContainer div {
  font-size: 2rem;
  text-align: center;
  color: aliceblue;
  background-color: rgba(48, 114, 95, 0.7);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
}
.gridContainer img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 10px;
}

.adidas {
  grid-column: 1/3;
}

.tesla {
  grid-row: 3/5;
}

.uruguay {
  grid-column: 3/5;
}

.wix {
  grid-column: 3/5;
}

.argentina {
  grid-column: 3/5;
}

.section {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media (max-width: 1024px) {
  .section {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: auto;
  }
}

.form {
  background-color: rgba(48, 114, 95, 0.7);
  width: 100%;
  max-width: 400px;
  border-radius: 1em;
  padding: 2em 1.5em;
}

.formInput {
  font-size: 1.5rem;
  padding: 0.8rem 1em;
  outline: none;
  border: none;
  border: 1px solid white;
  border-radius: 0.2em;
}

.formContainer {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.formTitle {
  color: rgb(191, 171, 147);
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.4em;
}

.formInput--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}

.formCta {
  font-size: 1.5rem;
  background-color: #089fe0;
  color: white;
  border: none;
  font-weight: 400;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
}

.mapa {
  width: 50rem;
  height: 35rem;
  border-style: none;
}
@media (max-width: 1024px) {
  .mapa {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 380px) {
  .mapa {
    width: 35rem;
    height: 25rem;
  }
}

.contactanos {
  color: rgb(165, 44, 54);
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  background-color: transparent;
  text-shadow: 3px 0 30px rgba(48, 114, 95, 0.9);
  -webkit-text-stroke: 2px rgba(0, 20, 38, 0.7);
}

.error {
  width: 100%;
}
.error img {
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
