///////////////////////////////
// Global
///////////////////////////////
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

    @media (max-width: 480px) {
        font-size: 50%;
    }
}

.fondoPrincipal {
    background-image: linear-gradient(rgba(0, 20, 38, .9), rgba(0, 20, 38, .9)),
        url(../img/main_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}



////////////////////////////////////
// Clases globales
////////////////////////////////////
.bordeBajo {
    border-bottom: 2px solid $red;
}

.bg-green {
    background-color: $greenLight;
}

.bg-red {
    background-color: $red;
}

.espacioParrafos {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/////////////////////////////////////////
// Botonera de redes sociales
/////////////////////////////////////////
.botoRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media (max-width: 480px) {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}

.icon {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 2rem;
    border-radius: 50%;
    transition: all .8s;

    &:hover {
        background-color: #e60073;
        box-shadow: 0 0 20px #e60073;

        &:nth-child(2) {
            background-color: #1877f2;
            box-shadow: 0 0 20px #1877f2;
        }

        &:nth-child(3) {
            background-color: #25d366;
            box-shadow: 0 0 20px #25d366;
        }

        &:nth-child(4) {
            background-color: #1da1f2;
            box-shadow: 0 0 20px #1da1f2;
        }
    }

    i {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;

        @media (max-width: 480px) {
            transform: translate(-45%, -45%);
        }
    }

    &:hover circle {
        stroke-dasharray: 220;
    }

    svg {
        width: 10rem;
        height: auto;
    }

    @media (max-width: 480px) {
        margin: 0 1.5rem;
        width: 5rem;
        height: 5rem;
    }

    @media (max-width: 380px) {
        margin: 0 1rem;
    }
}

svg {
    circle {
        stroke-dasharray: 80;
        transition: all .8s ease-in-out;
    }
}
///////////////////////////////////////////
// Fin botonera redes sociales
///////////////////////////////////////////

////////////////////////////////////////////
// Footer
////////////////////////////////////////////
.pie {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4.5rem 10rem;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 480px) {
        padding: 4.5rem 1rem;
    }
}

@media (max-width: 768px) {
    footer h5 {
        padding-top: 2rem;
    }
}

.firma {
    color: white;
    display: flex;
    align-items: center;
}