@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

$primaryFont:'Roboto', sans-serif;
$secondaryFont:'Anton', sans-serif;
$maquinaFont:'Source Code Pro', sans-serif;

$textXxl: 5rem;
$textXl: 4rem;
$textLg: 3rem;
$textMd: 2rem;
$textSM: 1.5rem;

$textBold:400;
$textRegular:300;

// Estilos de texto
.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}


//Titulos

.tituloMedio {
    color: $green;
    font-size: $textLg;
    font-weight: $textBold;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tituloPrincipal {
    font-family: $secondaryFont;
    color: $green;
    font-size: $textXxl;
    padding-top: 4rem;
    padding-bottom: 2rem;

    @media (max-width: 1024px) {
        font-size: $textXl;
        padding-top: 0;
    }

    @media (max-width: 480px) {
        font-size: $textLg;
    }
}

.tituloSecundario {
    font-family: $maquinaFont;
    color: $black;
    font-size: $textXl;
    font-weight: $textBold;
    padding-top: 2rem;
    padding-bottom: 2.5rem;

    @media (max-width: 1024px) {
        font-size: $textLg;
    }
}

// Estilos de titulos
.exito {
    font-family: $secondaryFont;
    font-weight: $textBold;
    font-size: 8rem;
    background-color: transparent;
    text-shadow: 3px 0 30px $greenLight;
    -webkit-text-stroke: 2px $blackLight;

    @media (max-width: 1024px) {
        font-size: $textXxl;
    }
}


// Estilos de parrafos
.parrafoPrincipal {
    width: $w-80;
    height: auto;
    padding: 0 auto;
    text-align: justify;
    margin: 0 auto;
    overflow: auto;
    color: $beige;
    font-size: $textMd;
    font-weight: $textBold;
    line-height: 4rem;
}

.parrafoSecundario {
    width: $w-80;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: $red;
    font-weight: $textRegular;
    list-style: none;
}