// header
header {
    article {
        padding-left: 5rem;
        padding-top: 2rem;
    }
}

.slider {
    width: $w-100;
    margin: auto;
    height: 30vh;
    overflow: hidden;

    ul {
        display: flex;
        padding: 0;
        width: 400%;

        animation: cambio 15s infinite alternate linear;

        li {
            width: $w-100;
            list-style: none;
        }
    }

    img {
        width: $w-100;
        height: auto;
    }
}

#boton {
    font-size: $textSM;
    color: $green;
    border-color: $red;

    &:hover {
        background-color: $beige;
        border-style: solid;
        border-color: $green;
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

main {
    li {
        color: $beige;
        font-size: $textMd;
        font-weight: 500;
        line-height: 3.5rem;
        list-style: none;
    }
}

#estilos {
    svg {
        fill: $red;
        width: 2.5rem;
        height: 2.5rem;
        transform: translate(-50%, -10%);
    }
}


.fondoPared {
    background-image: linear-gradient(rgba(1, 21, 38, 0.9), rgba(1, 21, 38, 0.9)),
        url(../img/pared.jpg);
    background-attachment: none;
    background-size: cover;
}