//variables efecto maquina
$colorMaquina:rgb(181, 192, 202);

//Paleta de colores
$darkBlack: rgb(0,0,0);
$green:rgba(48, 114, 95, 1);
$red:rgba(165, 44, 54, 1);
$black:rgba(0, 20, 38, 1);
$beige:rgba(191, 171, 147, 1);

$instagram: #e60073;
$facebook: #1877f2;
$whatsapp: #25d366;
$twitter: #1da1f2;


//fondos light

$greenLight: rgba(48, 114, 95, .7);
$blackLight: rgba(0, 20, 38, .7);


//medidas
$w-100: 100%;
$w-80: 80%;